<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/src/static/css/style3.css">
        <script src="https://kit.fontawesome.com/fd4cebc555.js" crossorigin="anonymous"></script>
        <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
        <script src="/src/static/js/main.js"></script>
        <script src="/src/static/js/liff_budget.js"></script>
        <title>予算額入力フォーム</title>
    </head>
    <body>
        <h3>予算額入力フォーム</h3>
        <form action="/src/in_1" method="post" name="budgetForm">
            <input type="text" name="budget_userID" id="budget_userID" hidden>
            <input type="text" name="budget_userName" id="budget_userName" hidden>
            <div class="help">
                <span id="yosan">予算額</span>
            </div>
            <input type="text" onblur="inComma(1);" pattern="\d*" name="money" id="money"><br>
            <input type="button" onclick="checkValue(1)" value="送信" class="sub">
        </form>
    </body>
</html>