html{
    margin: 0;
    padding: 0;
    background-color: #dff9e4;
    color: #005c42;
    text-align: center;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
.osirase{
    background-color: white;
    padding: 1%;
}
#logout{
    border: none;
    color: #005c42;
    background-color: white;
    border: 1px solid #005c42;
    border-radius: 50px;
    padding: 1% 2%;
    font-size: 1.5em;
    top: 2%;
    right: 5%;
}
body{
    margin: 0;
    padding: 0;
}
.TimeChange{
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    background-color: #027f47;
    border: 2px solid #027f47;
    font-size: 2em;
    width: 100%;
    color: white;
}
#mod{
    background-color: mediumseagreen;
    color: white;
    width: 90%;
    margin: 0 5% 0 5%;
    padding: 1% 0;
    text-align: center;
    border-radius: 30px;
    font-size: 2em;
}
#minus{
    background-color: mediumseagreen;
    color: white;
    width: 90%;
    margin: 0.5% 5% 0 5%;
    padding: 1% 0;
    text-align: center;
    border-radius: 30px;
    font-size: 2em;
}
.nocheck{
    padding-top: 1%;
    width: calc(100% / 3);
    background-color: #027f47;
    color: #eefff2;
    text-decoration: none;
}
.checked{
    padding-top: 1%;
    width: calc(100% / 3);
    background-color: #eefff2;
    color: #027f47;
    text-decoration: none;
}
.GraphArea{
    font-size: 2em;
    height: 15%;
    width: 80%;
    margin-left: 7.5%;
}
#histitle{
    background-color: #009854;
    color: white;
    text-align: center;
    font-size: 2em;
}
.data{
    display: flex;
    justify-content: space-around;
    width: 75%;
    font-size: 1.5em;
    margin-left: 10%;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    
}
.PageChange1{
    width:50%;
    background-color: #dff9e4;
    border-top: 2px solid #009854;
}
.PageChange2{
    width: 50%;
    background-color: #009854;
}
#pig{
    position: absolute;
    bottom: 30%;
    left: 20%;
    height: 85px;
    filter: drop-shadow(0 7px 7px #166a44);
}
#wallet{
    position: absolute;
    bottom: 30%;
    right: 21%;
    height: 85px;
    filter: drop-shadow(0 7px 7px #125821);
}
@media only screen and (min-width: 961px){
    .TimeChange{
        height: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        vertical-align: middle;
        background-color: #027f47;
        border: 2px solid #027f47;
        font-size: 2em;
        width: 100%;
        color: white;
    }
    #pig{
        position: absolute;
        left: 20%;
        height: 50px;
        filter: drop-shadow(0 7px 7px #166a44);
        padding: 5% 0;
    }
    #wallet{
        position: absolute;
        right: 21%;
        height: 50px;
        filter: drop-shadow(0 7px 7px #125821);
        padding: 5% 0;
    }
} 