html{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
h3{
    margin-top: 15%;
}
form{
    padding-top: 20%;
}
span{
    color: darkgreen;
}
#yosan{
    color: #e73562;
}
input{
    margin: 3%;
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid black;
}
input:focus{
    margin: 3%;
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom:1px solid forestgreen;
}
#money:focus{
    margin: 3%;
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom:1px solid #f66a8d;
}
select{
    margin: 3%;
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid black;
}
select:focus{
    margin: 3%;
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom:1px solid limegreen;
}
.help{
    display: flex;
    margin-left: 20%;
    font-size: 0.7em;
}
.help span{
    font-size: 1em;
}
.help p{
    padding: 0;
    margin: 1% 0 0 2%;
    font-size: 0.6em;
    color: dimgray;
}
#submit{
    width: 30%;
    text-align: center;
    border-bottom:0px;
    color: forestgreen;
    font-size: 0.5em;
    border-radius: 30px;
}
#submit:hover{
    background-color: forestgreen;
    color: white;
}
#sub{
    width: 30%;
    text-align: center;
    border-bottom:0px;
    color: #e73562;
    font-size: 0.5em;
    border-radius: 30px;
}
#sub:hover{
    background-color: #e73562;
    color: white;
}